/* Core */
html,
body {
    height: 100%;
    display: flex;
    background-color: #292929;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}